* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 1660px;
}

/* Header */
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone {
    color: #333;
    font-size: 60px;
}

.contact-info {
    text-align: right;
}

.contact-info p {
    font-size: 25px;
}

.contact-info span {
    font-size: 25px;
}

/* Navigation */
.navbar {
    background: #8b0000;
    color: #fff;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.navbar a:hover {
    background: #5c5858;
}

/* HERO SECTION*/
.hero {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.hero-left {
    width: 60%;
}

.hero-left img {
    width: 95%;
}

.hero-left button {
    margin-top: 10px;
    padding: 10px;
    background: darkred;
    color: white;
    border: none;
}
.inner-right{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    background-color: #a50000;
    width: 160px;   
}
.inner-right p{
    font-size: 50px;
    font-weight: bold;
}
.hero-right {
    width: 50%;
    background: #eee;
    padding: 15px;
}

.hero-right   {
     background: url('form_bg.jpg') no-repeat center bottom;
     background-size: cover;
     padding: 40px;
     border: 1px solid #ddd;
     position: relative;
 }



.hero-right input{
    width: 500px;
    height:50px;
}
textarea {
    width: 530px;
    margin: 5px 0;
    padding: 8px;
}
/* BOXES */
.boxes {
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
}

.box {
    background: white;
    padding: 15px;
    width: 30%;
    text-align: center;
    
}
.box p{
    font-size: 23px;
}
.box span{
    color: #8b0000;
    font-weight: bold;
     font-size: 25px;
}
.box h3{
     font-size: 25px;
}
.box button {
    margin-top: 10px;
    background: darkred;
    color: white;
    border: none;
    padding: 8px;
}

/* CONTENT */
.content {
    display: flex;
    padding: 20px;
}

/* LEFT */
.left {
    width: 20%;
}

.left ul {
    list-style: none;
    padding: 10 0 0 35px;
}

.left li {
    background: gray;
    color: white;
    margin: 10px 0;
    padding: 10px;
    font-size: 25px;
}

/* CENTER */
.center {
    width: 70%;
    padding: 0 20px;
}

/* RIGHT */
.right {
  
  width: 20%; 
  
}

.right button {
    display: block;
    margin-bottom: 10px;
    background: darkred;
    color: white;
    border: none;
    padding: 8px;
}

.badge {
    width: 100px;
    margin: 10px 0;
}

.social img {
    width: 30px;
    margin: 5px;
}


